1.去除IOS 端a链接点击高亮的效果
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  或者-webkit-tap-highlight-color: transparent;
2. 移动端点击a链接时变色: a:active 默认在手机端是没有效果的
  /*hack办法:
    document.addEventListener("touchstart", function(){}, true);
    
    想要让给元素添加的:active起作用，还需要给document绑定一个touchstart事件 ，而这个事件什么都不做，只是为了触发:active：
    给document文档加一个touchstart监听事件:
    原理解释: 
    touch 事件的过程是 touchstart – touchmove – touchend, :active样式会在 touchstart的时候就触发，比如你按住某一个点拖动页面，
    此时这个点所在的元素就会触发:active样式。而我们想要的效果是，只在用户真正去点击它的时候触发。
  */
  
sass px自动转rem: 2017-05-02 09:37:56
<style lang="scss">
    /*
      这里的strip-unit方法的意思是将输入像素的单位"px"给去掉。sass对这种单位运算的处理非常智能，比如以输入为"$num = 60px"为例子，下面的“$num*0”的结果将会是0px，那么"0px + 1"，虽然后后面没有px单位，但是结果会自动补上，变成“1px”。那么最后的"60px/1px"的结果就是60，px这个单位就会去掉了。
    */
    @function strip-units($number){
        @return $number / ($number * 0 + 1);
    }
    /* 如果不覆盖，设置一个默认字体大小（以像素为单位）*/
    $base-font-size: 16px !default;
    /*
      将px转换成em //当元素的父元素没有重置字体大小时，相对于16px计算，如果你要将12px转换成em时，可以写成`pxToem(12px)` 
      //当元素的父元素重置了字体大小时，如24px，如果你要将12px转换成em时,可以写成`pxToem(12px,24px)` 
      //另外你还可以不显式的写也单位`px`
      原文: https://www.w3cplus.com/preprocessor/sass-px-to-em-with-mixin-and-function.html © w3cplus.com
    */
    @function pxToem($target-size,$context:$base-font-size){
        @if not unitless($target-size){     
            $target-size: strip-units($target-size);    }
        @if not unitless($context){
            $context: strip-units($context);
        }
        @return ($target-size / $context) * 1rem;
    }
    #test {
      width:100%;
      height:300px;
      color:red;
      font-size: pxToem(20,37.5);
      /* background: url(../assets/imgs/rank_body.jpg) no-repeat; */
      background-size: 100% 100%;
    }
    #test  h3{
      font-size: pxToem(24,37.5);
    }

    /*
      更简单些的:
     $base-font-size: 37.5px !default;

     @function strip-unit($num) {
       @return $num / ($num * 0 + 1);
     }
     @function rem($value,$context:$base-font-size) {
       $target: strip-unit($value); //去除单位
       $base: strip-unit($context);
       @return $target/$base + rem
     }
	
	调用时:
	font-size: pxToem(20,18.75); 第一个参数表示要转换的px值，第二个表示rem基准值，不给的话，就会用默认的  

    */
</style>
